# List in Python :

In [82]:
# List is homogeneous and heterogeneous data type.
# List is denoted by [ , ]
# Each element separated by commas.
# List is predefined function.
# There are two types : 1. Positive Index  2. Negative Index
# 1. Positive Index : Its Starts from left to right.
# 2. Negative Index : Its starts from right to left.

In [94]:
# For example,

l1 = list[1,2,3]
l1

list[1, 2, 3]

In [90]:
# Empty list

l2 = []
l2

[]

In [96]:
# Homogeneous list

list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [98]:
# Heterogeneous list

list1 = [1,"Priti",90.87]
list1

[1, 'Priti', 90.87]

In [104]:
type(list1)

list

In [106]:
list + list1

[1, 2, 3, 4, 5, 1, 'Priti', 90.87]

In [108]:
# List Methods
    # append(x)	
        # Adds an item x at the end of the list.
# For Example ,

list = [10, 20, 30, 40]
list.append(50)
print(list)

[10, 20, 30, 40, 50]

In [110]:
# extend(iterable)	
    # Adds all elements of an iterable (like another list) to the end of the list.
# for example , 

list.extend([1])
list

[10, 20, 30, 40, 50, 1]

In [112]:
# insert(i, x)	
    # Inserts an item x at position i.
# for example ,

list.insert(5 , 500)
list

[10, 20, 30, 40, 50, 500, 1]

In [114]:
# remove	
    # Removes the first occurrence of item x.
# for example ,
list.remove(40)
list

[10, 20, 30, 50, 500, 1]

In [116]:
# pop([i])	
    # Removes and returns the item at index i (last item if i not given).
# for example ,
list.pop(4)
list

[10, 20, 30, 50, 1]

In [118]:
# reverse()	
    # Reverses the list in place.
# for example , 
list.reverse()
list

[1, 50, 30, 20, 10]

In [120]:
# clear()	
    # Removes all items from the list (makes it empty).
# for example , 
list.clear()
list

[]